$primary: #409eff;
$active: #65a7f8;
$main-text-color: #303133;
$text-color: #606266;
$placeholder-color: #c0c4cc;
$info-color: #909399;
$warn-color: #e6a23c;
$success-color: #67c23a;
$error-color: #f56c6c;

$page-bg: #edf5fe;
$module-bg: #fff;
$info-bg: #f4f4f5;
$warn-bg: #f6fced;
$success-bg: #fcf0f0;
$error-bg: #f8dede;

$boder-color: #ebeef5;
$info-boder-color: #e9e9eb;
$warn-boder-color: #f8ecda;
$success-boder-color: #e4f2da;
$error-boder-color: #f9e3e3;

$mini-font-size: 12px;
$normal-font-size: 14px;
$middle-font-size: 16px;
$large-font-size: 18px;
$max-font-size: 20px;

$mini-border-radus: 2px;
$normal-border-radus: 4px;
$large-border-radius: 8px;

$mini-gap: 12px;
$gap: 16px;
$large-gap: 20px;
